body {
  font-family: 'Roboto', sans-serif;
  /* font-family: 'IBM Plex Mono', monospace; */
}

h1, h2, h3, h4, h5, h6, address {
  font-family: 'IBM Plex Mono', monospace;
}

h2 {
  border-bottom: solid var(--primary) 2px;
  padding-bottom: 10px; 
}

h2.tagline {
  border-bottom: none;
  padding-bottom: initial;
  font-size: 1em;
}

h3 {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 25px;
}

.logo img {
  /* width: 100%; */
  max-height: 250px;
  margin: 20px 20px;
}

.address {
  text-align: right;
}

ul li {
  font-size: 0.9em;
}

address {
  padding: 50px 20px 15px;
}

.pull-right {
  float: right;
}

.container {
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .logo, .address {
    text-align: center;
  }

  .logo img {
    max-height: 200px;
  }

  .address {
    min-height: 290px;
  }

  address {
    padding: 10px;
  }

  .pull-right {
    float: none;
    display: absolute;
  }
}